.padre {
    background-color: blue;
    width: 500px;
    height: 500px;

    display: flex;
    overflow-x: scroll;

    /* flex-wrap: wrap; (para que los bloques salten a la siguiente linea) */
    /* align-content: center; */ /* mover bloques de forma vertical varias lineas */
    /*justify-content: center; /* " mover los bloques de forma horizontal" */ 
}

.hijo {
    background-color: red;
    width: 70%;
    margin-right: 10px;

    /* flex-shrink: 0; (para que no se contraiga, que se expanda en su tamaño normal) */
}



.primo {
    background-color: green;
    width: 30%;
}



.container {
    background-color: blue;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: : 0 1em;

    /* width: 100% */
}

/* @media (max-width: 800px) {
    .container {background-color: yellow;}
}

@media (win-width: 600px) and (max-width: 799px) {
    .container {background-color: yellow;}
}

@media (max-width: 599px) {
    .container {background-color: green;}
} */

















.padre1 {
    background-color: blue;
    width: 500px;
    height: 500px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    
    /* align-content: center; */ /* mover bloques de forma vertical varias lineas */
    /*justify-content: center; /* " mover los bloques de forma horizontal" */
    /*align-items: center; /* vertical */
    /* align-items: stretch; */
}

.hijo1 {
    background-color: yellow;
    border: 1px solid black;

    width: 100px;
    flex-grow: 1;
    


    /* flex-grow: 0; */ /* los elementos no crecen, tamaño normal por defecto si el numero es 0 */
    /* flex-shrink: 1; */ /* por defecto 1 */

    /* flex-basis: 100px; */ /* = width (row) height (column) */
    /* width: 100px; */
    /* height: 100px; */
}

.abajo {
    align-self: flex-end;
    position: relative;
}

