.padre {
    background-color: blue;
    width: 500px;
    height: 500px;

    display: flex;
    /*justify-content: center; /* "horizontal" */
    flex-direction: row;
    /*align-items: center; /* vertical */
    align-content: center; /* vertical varias lineas */
}

.hijo {
    background-color: yellow;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    flex-grow: 1; /* los elementos no crecen, tamaño normal por defecto si el numero es 0 */
}

